<div class="wrapper">
    <div class="form_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- 彩带 -->
        <img class="abs full-w colors" src="assets/images/common/colors.png" />
        <!-- title -->
        <img class="abs full-w title" src="assets/images/form/title.png" />
        <!-- box -->
        <form class="abs form-box">
            <!-- phone -->
            <div class="input-box">
                <img class="full-w" src="assets/images/form/input.png" />
                <img class="abs full-w phone-img" src="assets/images/form/phone.png" />
                <input class="abs userPhone" type="text" maxlength="11" name="userPhone" placeholder="请输入手机号">
            </div>
            <!-- time -->
            <div class="input-box">
                <img class="full-w" src="assets/images/form/input.png" />
                <img class="abs full-w time-img" src="assets/images/form/time.png" />
                <input class="abs userTime" type="date" name="userTime" placeholder="请选择">
            </div>
            <!-- number -->
            <div class="input-box">
                <img class="full-w" src="assets/images/form/input.png" />
                <img class="abs full-w number-img" src="assets/images/form/number.png" />
                <input class="abs userNumber" type="text" maxlength="11" name="userNumber" placeholder="例：C1909160602">
                <img class="abs gift" src="assets/images/form/gift.png" />
            </div>
        </form>
        <!-- checkbox -->
        <div class="abs agreement-box">
            <img class="full-w box-img" src="assets/images/form/nocheck.png" />
            <a class="abs box"></a>
            <a class="abs box-text"></a>
        </div>
        <!-- submit -->
        <img class="abs btn-submit" src="assets/images/form/btn-submit.png" />
    </div>
</div>
<!-- success -->
<div class="abs full-w modal-success">
    <img class="full-w" src="assets/images/form/modal.png" />
</div>
<!-- phone error1 -->
<div class="abs full-w modal-error modal-error1">
    <img src="assets/images/form/error1.png" />
</div>
<!-- phone error1 -->
<div class="abs full-w modal-error modal-error2">
    <img src="assets/images/form/error2.png" />
</div>
<!-- agreement -->
<div class="abs full-w modal-agreement2" data-check="false">
    <div class="abs agre-box">
        <img class="full-w agre-img" src="assets/images/common/agre-box.png" />
        <div class="abs agre-text">
            <img src="assets/images/common/text.png" />
        </div>
        <img class="abs close" src="assets/images/common/close.png" />
    </div>
</div>
<!-- error3 -->
<div class="abs full-w modal-error modal-error3">
    <img src="assets/images/form/error3.png" />
</div>