<div class="wrapper">
    <div class="home_page page">
        <!-- bg -->
        <img class="abs full-w bg" src="assets/images/common/bg.jpg" />
        <!-- banner -->
        <img class="abs full-w banner" src="assets/images/home/banner.png" />
        <!-- 彩带 -->
        <img class="abs full-w colors" src="assets/images/common/colors.png" />
        <!-- text -->
        <img class="abs full-w text" src="assets/images/home/text.png" />
        <!-- 比心 -->
        <img class="abs hand" src="assets/images/home/hand.png" />
        <img class="abs heart" src="assets/images/home/heart.png" />
        <!-- start -->
        <img class="abs btn-start" src="assets/images/home/btn-start.png" />
        <!-- agreement -->
        <img class="abs agreement" src="assets/images/home/agreement.png" />
    </div>
</div>
<!-- agreement -->
<div class="abs full-w modal-agreement">
    <div class="abs agre-box">
        <img class="full-w agre-img" src="assets/images/common/agre-box.png" />
        <div class="abs agre-text">
            <img src="assets/images/common/text.png" />
        </div>
        <img class="abs close" src="assets/images/common/close.png" />
    </div>
</div>