<div class="wrapper">
    <div class="loading_page page">
    	<!-- bg -->
        <img class="abs full-w bg" src="assets/images/common/bg.jpg" />
        <!-- loading -->
        <div class="abs full-w loading">
            <!-- lin -->
            <img class="lin" src="assets/images/loading/lin.gif" />
            <!-- program -->
            <div class="bar-box">
                <div class="bar-blue"></div>
            </div>
            <p><span class="num">0</span>%</p>
        </div>
    </div>
</div>