<div class="wrapper">
    <div class="page2_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- 彩带 -->
        <img class="abs full-w colors" src="assets/images/common/colors.png" />
        <!-- title -->
        <img class="abs full-w title" src="assets/images/page2/title.png" />
        <!-- box -->
        <div class="abs ques-box">
            <img class="full-w" src="assets/images/common/ques-box.png" />
            <img class="abs ques ques1" src="assets/images/page2/a.png" />
            <img class="abs ques ques2" src="assets/images/page2/b.png" />
            <img class="abs ques ques3" src="assets/images/page2/c.png" />
            <img class="abs ques ques4" src="assets/images/page2/d.png" />
        </div>
        <!-- next -->
        <img class="abs btn-next" src="assets/images/common/btn-next-grey.png" />
        <!-- modal -->
        <img class="abs modal2" src="assets/images/page2/modal.png" />
    </div>
</div>