<div class="wrapper">
    <div class="page3_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- 彩带 -->
        <img class="abs full-w colors" src="assets/images/common/colors.png" />
        <!-- title -->
        <img class="abs full-w title" src="assets/images/page3/title.png" />
        <!-- box -->
        <div class="abs ques-box">
            <img class="full-w" src="assets/images/common/ques-box.png" />
            <img class="abs ques ques1" src="assets/images/page3/a.png" />
            <img class="abs ques ques2" src="assets/images/page3/b.png" />
            <img class="abs ques ques3" src="assets/images/page3/c.png" />
            <img class="abs ques ques4" src="assets/images/page3/d.png" />
        </div>
        <!-- next -->
        <img class="abs btn-next" src="assets/images/common/btn-next-grey.png" />
        <!-- modal -->
        <div class="abs modal3">
            <img class="full-w" src="assets/images/page3/modal.png" />
            <div id="mv" class="abs mv"></div>
        </div>
    </div>
</div>