<div class="wrapper">
    <div class="page4_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- 彩带 -->
        <img class="abs full-w colors" src="assets/images/common/colors.png" />
        <!-- title -->
        <img class="abs full-w title" src="assets/images/page4/title.png" />
        <!-- box -->
        <div class="abs ques-box">
            <img class="full-w" src="assets/images/page4/ques-box.png" />
            <textarea class="abs reason" maxlength="140" placeholder="我要去新加坡看JJ的理由是..."></textarea>
        </div>
        <!-- next -->
        <img class="abs btn-result" src="assets/images/page4/btn-result-grey.png" />
    </div>
</div>