<div class="wrapper">
    <div class="result_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- 彩带 -->
        <img class="abs full-w colors" src="assets/images/common/colors.png" />
        <!-- title -->
        <img class="abs full-w title" src="" />
        <!-- box -->
        <img class="abs full-w gift-box" src="assets/images/result/gift-box.png" />
        <!-- form -->
        <img class="abs btn-form" src="assets/images/result/btn-form.png" />
    </div>
</div>