@import "../base/page";

.page-form {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .form_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .title {
            top: 14.8%;
            left: 0;
        }
        .form-box {
            width: 78.6%;
            top: 24%;
            left: 11.2%;
            font-size: 0;
            line-height: 0;
            .input-box {
                position: relative;
                margin-bottom: 0.22rem;
                overflow: hidden;
                .phone-img, .time-img, .number-img {
                    top: 0;
                    left: 0;
                }
                input {
                    height: 47%;
                    bottom: 8%;
                    left: 6%;
                    color: #333;
                    font-size: 0.38rem;
                    line-height: 0.57rem;
                    background: transparent;
                    border: none;
                    outline: none;
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                    tap-highlight-color: rgba(0,0,0,0);
                }
                input.userPhone {
                    width: 80%;
                }
                input.userTime {
                    width: 100%;
                }
                input.userNumber {
                    width: 68%;
                }
                .gift {
                    height: 100%;
                    top: 0;
                    right: 0;
                }
            }
        }
        .agreement-box {
            top: 64%;
            left: 0;
            .box {
                width: 1rem;
                height: 1rem;
                top: 0;
                left: 11.4%;
            }
            .box-text {
                width: 2rem;
                height: 1rem;
                top: 0;
                left: 31%;
            }
        }
        .btn-submit {
            width: 74%;
            top: 80%;
            left: 13%;
        }
    }
    .modal-success {
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0 ,0 ,0, 0.8);
        display: none;
        img {
            margin-top: 2rem;
        }
    }
    .modal-error {
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0 ,0 ,0, 0.8);
        img {
            margin-top: 4.6rem;
            margin-left: 14.8%;
            width: 72%;
        }
    }
    .modal-error1, .modal-error2, .modal-error3 {
        display: none;
    }
    .modal-agreement2 {
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0 ,0 ,0, 0.8);
        font-size: 0;
        line-height: 0;
        display: none;
        .agre-box {
            width: 89%;
            top: 5.8%;
            left: 6.4%;
        }
        .agre-text {
            width: 89%;
            height: 72%;
            top: 19.2%;
            left: 6.6%;
            overflow: scroll;
            img {
                width: 96%;
            }
        }
        .close {
            width: 12.6%;
            bottom: 0;
            left: 42.8%;
        }
    }
}
