@import "../base/page";

.page-home {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .home_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .banner {
            top: 9.3%;
            left: 0;
        }
        .text {
            top: 57%;
            left: 0;
        }
        .hand {
            width: 11.6%;
            top: 54.5%;
            right: 13%;
        }
        .heart {
            width: 8%;
            top: 51%;
            right: 11.3%;
        }
        .btn-start {
            width: 74%;
            top: 80%;
            left: 13%;
        }
        .agreement {
            width: 20%;
            top: 90%;
            left: 40.6%;
        }
        .rotate15 {
            transform: rotate(15deg);
            transform-origin: center bottom;
        }
    }
    .modal-agreement {
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0 ,0 ,0, 0.8);
        font-size: 0;
        line-height: 0;
        display: none;
        .agre-box {
            width: 89%;
            top: 5.8%;
            left: 6.4%;
        }
        .agre-text {
            width: 89%;
            height: 72%;
            top: 19.2%;
            left: 6.6%;
            overflow: scroll;
            img {
                width: 96%;
            }
        }
        .close {
            width: 12.6%;
            bottom: 0;
            left: 42.8%;
        }
    }
}
