@import "../base/page";

.page-loading {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .loading_page {
        .bg {
            top: 0;
            left: 0;
        }
        .loading {
            top: 30%;
            left: 0;
            font-size: 0;
            text-align: center;
            .lin {
                width: 25.2%;
                margin-bottom: 0.5%;
            }
            .bar-box {
                width: 77%;
                margin-top: 0;
                margin-left: 11.5%;
                height: 0.36rem;
                line-height: 0;
                background: #fff;
                border-radius: 50px;
                border: 2px solid #2861cb;
                box-shadow: 2px 2px 0 #fb8506;
                overflow: hidden;
            }
            .bar-blue {
                width: 0%;
                height: 100%;
                top: 0;
                left: 0;
                background: #598efb;
            }
            p {
                margin-top: 2.2%;
                font-size: 0.56rem;
                font-weight: 400;
                color: #3166ce;
                text-shadow: 2px 0px 0px white,
                    -2px 0px 0px white,
                    0px 1px 0px white,
                    0px -1px 0px white;
                // -webkit-text-stroke: 1px #fff;
            }
        }
    }
}
