@import "../base/page";

.page-page3 {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .page3_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .title {
            top: 10.4%;
            left: 0;
        }
        .ques-box {
            top: 28.2%;
            left: 0;
        }
        .ques {
            width: 47.8%;
            left: 16.4%;
        }
        .ques1 {
            top: 15.1%;
        }
        .ques2 {
            top: 32.8%;
        }
        .ques3 {
            top: 50.4%;
        }
        .ques4 {
            top: 67.9%;
        }
        .btn-next {
            width: 74%;
            top: 80%;
            left: 13%;
        }
        .modal3 {
            width: 73%;
            top: 34%;
            left: 14%;
            display: none;
        }
        .mv {
            width: 89.6%;
            height: 67.4%;
            top: 17.2%;
            left: 6.4%;
        }
    }
}
