@import "../base/page";

.page-page2 {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .page2_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .title {
            top: 10.4%;
            left: 0;
        }
        .ques-box {
            top: 28.2%;
            left: 0;
        }
        .ques {
            width: 34.6%;
        }
        .ques1 {
            top: 8.9%;
            left: 14.4%;
        }
        .ques2 {
            top: 8.9%;
            right: 14.8%;
        }
        .ques3 {
            top: 47.8%;
            left: 14.4%;
        }
        .ques4 {
            top: 47.8%;
            right: 14.8%;
        }
        .btn-next {
            width: 74%;
            top: 80%;
            left: 13%;
        }
        .modal2 {
            width: 58%;
            top: 38%;
            left: 21%;
            display: none;
        }
    }
}
