@import "../base/page";

.page-page4 {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .page4_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .title {
            top: 10.4%;
            left: 0;
        }
        .ques-box {
            top: 31.8%;
            left: 0;
        }
        .reason {
            width: 73%;
            height: 72%;
            top: 12%;
            left: 14%;
            color: #333;
            font-size: 0.4rem;
            line-height: 0.6rem;
            border: none;
            outline: none;
            resize:none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            tap-highlight-color: rgba(0,0,0,0);
        }
        .btn-result {
            width: 74%;
            top: 80%;
            left: 13%;
        }
    }
}
