@import "../base/page";

.page-page1 {
    .base-page; 
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .page1_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .title {
            top: 10.4%;
            left: 0;
        }
        .ques-box {
            top: 28.2%;
            left: 0;
        }
        .ques {
            width: 65.4%;
            left: 16.4%;
        }
        .ques1 {
            top: 15.2%;
        }
        .ques2 {
            top: 32.8%;
        }
        .ques3 {
            top: 50.2%;
        }
        .ques4 {
            top: 67.8%;
        }
        .btn-next {
            width: 74%;
            top: 80%;
            left: 13%;
        }
        .modal1 {
            width: 58%;
            top: 38%;
            left: 21%;
            display: none;
        }
    }
}
