@import "../base/page";

.page-result {
    .base-page;
    background-color: #ffd000;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .full-w {
        width: 100%;
    }
    .result_page {
        .bg, .colors {
            top: 0;
            left: 0;
        }
        .title {
            top: 15.4%;
            left: 0;
        }
        .gift-box {
            top: 32.8%;
            left: 0;
        }
        .btn-form {
            width: 74%;
            top: 80%;
            left: 13%;
        }
    }
}
